<mat-card>
  <mat-card-subtitle>Please register here !!</mat-card-subtitle>
  <mat-card-title> SignUp</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registrationData" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="enter your name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="enter your email"
          formControlName="email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
        <button
          class="hide"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Contact Number</mat-label>
        <input matInput placeholder="enter your mobile number" formControlName="contact" />
      </mat-form-field>
      <div>
        <label>Gender: </label>
        <mat-radio-group  formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    
      <button class="submit" type="submit">SignUp</button>
    </form>
  </mat-card-content>
  <mat-card-footer
    >have a account already?<a routerLink="/login">Login!!</a></mat-card-footer
  >
</mat-card>
