.header{
    width: 100%;
    height: 8%;
    border-radius: 6px;
   /* Created with https://www.css-gradient.com */
background: #0B2541;
background: -webkit-linear-gradient(right, #0B2541, #0E4B97);
background: -moz-linear-gradient(right, #0B2541, #0E4B97);
background: linear-gradient(to left, #0B2541, #0E4B97);
}
.searchBar{
    width: 50%;
    height: 60%;
    border-radius: 6px;
    border: none;
    margin-top: 0.65rem;
    margin-left: 2rem;
    background-color: #fff;
    
}
mat-icon{
    position: sticky;
    top:18px;
  left: 50px;
}
/* .header>div{
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    background-color: #fff;
} */
.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}