<div class="header">
  <input class="searchBar" matInput placeholder="Search here" id="filter-text-box"
  (input)="onFilterTextBoxChanged()"
  />

  <button style="margin-left: 20px;" (click)="onPrintQuickFilterTexts()">
   Search
  </button>
  <!-- <mat-icon>search</mat-icon> -->

  
  <ag-grid-angular style="width: 100%; height: 100%;"
[columnDefs]="columnDefs"  [defaultColDef]="defaultColDef"
[rowData]="data"
  [cacheQuickFilter]="true"
      (gridReady)="onGridReady($event)"
>




</ag-grid-angular>


</div>
