.profileImg {
  position: relative;
  left: 30%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 2px solid rgb(151, 147, 147);
}
.navBox {
  padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
}
mat-divider {
  background-color: rgb(168, 166, 166);
  width: 90%;
  margin-left: 10px;
  margin-top: 5%;
}
mat-divider ~ p {
  color: rgb(219, 219, 219);
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 0px;
}
mat-icon {
  margin-left: 0px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
