<div class="navBox">
  <img class="profileImg" src="../../../assets/yoga.PNG" alt="profile" />
  <div class="info">
    <mat-list>
      <mat-list-item
        ><a routerLink="/home">
          <mat-icon class="icon">home</mat-icon>Home
        </a></mat-list-item
      >

      <mat-list-item
        ><a routerLink="/view"
          ><mat-icon>preview</mat-icon>My Requests
        </a></mat-list-item
      >
      <mat-list-item *ngIf="service.isAdmin"
        ><a routerLink="/userReq"
          ><mat-icon>preview</mat-icon>View Requests
        </a></mat-list-item
      >

      <mat-list-item
        ><a routerLink="/history"
          ><mat-icon>history</mat-icon>History</a
        ></mat-list-item
      >

      <mat-list-item
        ><a routerLink="/create">
          <mat-icon>create</mat-icon>Create Request</a
        ></mat-list-item
      >
    </mat-list>
    <mat-divider></mat-divider>
    <p>Account</p>
    <mat-list>
      <mat-list-item
        ><a routerLink="/login"
          ><mat-icon>notifications</mat-icon>Notification</a
        ></mat-list-item
      >
      <mat-list-item (click)="logOut()"
        ><a 
          ><mat-icon>logout</mat-icon>Logout</a
        ></mat-list-item
      >
    </mat-list>
  </div>
</div>
