

<h1 mat-dialog-title>Add your Data</h1>
<div mat-dialog-content>
  <mat-card class="example-card">
    <form [formGroup]="newData" (ngSubmit)="OnFormSubmit(newData.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter your ID" formControlName="id">
        <!-- <mat-error>
           <span *ngIf="!newData.get('id').valid && newData.get('id').touched">Please Enter Name</span>
        </mat-error> -->
     </mat-form-field>
     <mat-form-field class="example-full-width">
      <input matInput placeholder="Form" formControlName="form">
      <!-- <mat-error>
         <span *ngIf="!newData.get('form').valid && newData.get('from').touched">Please Enter Name</span>
      </mat-error> -->
   </mat-form-field>
   <mat-form-field class="example-full-width">
    <input matInput placeholder="TO" formControlName="to">
    <!-- <mat-error>
       <span *ngIf="!newData.get('to').valid && newData.get('to').touched">Please Enter Name</span>
    </mat-error> -->
 </mat-form-field>
 <mat-form-field class="example-full-width">
  <input matInput placeholder=" Current Date" formControlName="dateCreated" [value]="date" >
  <!-- <mat-error>
     <span *ngIf="!newData.get('dateCreated').valid && newData.get('dateCreated').touched">Please Enter Name</span>
  </mat-error> -->
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Link</mat-label>
  <mat-select formControlName="permanentLink">
    <mat-option *ngFor="let links of link" [value]="links">
      {{links}}
    </mat-option>
  </mat-select>
</mat-form-field>

      </form>
  </mat-card>

 <div mat-dialog-actions class="button-row">
   <button mat-flat-button color="primary" type="submit" (click)="getData()" mat-dialog-close><mat-icon>save</mat-icon></button>
 </div>
</div>



