input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body{
    background: rgb(131,58,180);
background: linear-gradient(57deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 53%, rgba(252,176,69,1) 100%);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans', sans-serif;
}
header > h1 {
  margin: 30px 38% 20px;
  color: white;
}
form {
  display: flex;
  width: 50%;
  padding: 2%;
  margin: auto;
  background-color: white;
  border-radius: 1%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form>h1{
    margin: 2%;
}

.personalInfo {
  border: 1px solid grey;
  width: 80%;
  padding: 2% 2% ;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 5fr;
  gap:5%; */
}
.personalInfo:nth-child(3){
    margin: 5% 0% ;
    border-color: green;
}

label{
    /* border: 1px solid red; */
    font-size: 16px;
    margin: 2% 0%;

}
input{
    /* border: 1px solid yellow; */
    font-size: 18x;
    padding: 2% 0%;
    border: 0px solid;
    color: black;
    background-color: #f7faf7;  
    outline: none;
}

input:focus{
  border: 3px solid #419ae2;
  border-radius: 4px;
}

span{
    color: red;
    font-size: 12px;
}

#accountType{
    font-size: 18x;
    padding: 2%;
    border: 0px solid;
    color: black;
    background-color: #f7faf7;  
    outline: none;
}


#submit{
    background-color: #166ee0;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px; 
}

#submit:hover{
    background-color: #144ee0 ;
}