* {
  font-family: "Fira Sans", sans-serif;
}
body{
  background: rgb(131, 58, 180);
  background: linear-gradient(
    57deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  );
}

header {
  display: flex;
  justify-content: center;
}
header > h1 {
  color: white;
  margin-left: 2rem;
}
header > nav {
  margin: 1%;
  flex-grow: 2;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 0px;
}
button {
  font-size: 18px;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  margin: 0% 1%;
  padding: 1rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
}

main{
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
main>h2{
text-align: center;
}

section{
    display: flex;  
    justify-content: space-around;
}

aside{
    width: 25%;
}
aside>img{
    width: 100%;
}
article{
    font-size: 18px;
}
