.personalInfoBox {
  /* width: 100%;
    height: 100%; */
  /* border: 1px solid red; */
}
mat-card-content {
  display: flex;
  gap: 10%;
 
}
mat-card-content > div {

  flex-grow: 1;
  text-align: left;
}
p {
  color: grey;
  display: flex;
 justify-content: space-between;
}
p > strong {
  color: black;
  font-weight: 500; 
}
