

    <mat-toolbar color="primary">

    

      <span>Book Management</span>

      <span class="example-spacer"></span>

      <div>

        <button mat-button>Hi!{{name}}</button>

        <button mat-button routerLink="/view">

            <mat-icon>home</mat-icon>Home

          </button>

          <button mat-button routerLink="/myBook" *ngIf="service.isUser">

            <mat-icon>book</mat-icon>My Books

          </button>

          <button mat-button routerLink="/add" *ngIf="service.isAdmin">

            <mat-icon>add</mat-icon>Add Books

          </button>

          <button mat-button (click)="logOut()" *ngIf="service.isAuth">

            <mat-icon>logout</mat-icon>Logout

          </button>
          <button mat-button routerLink="/login" *ngIf="!service.isAuth">

            <mat-icon>login</mat-icon>LogIn

          </button>

      </div>

    </mat-toolbar>
  

