.hide {
  border: none;
  background-color: #fff;
}
mat-card {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  filter: drop-shadow(14px 3px 10px #3D3D45);
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  gap: 5%;
}
.submit {
  background-image: linear-gradient(
    to right top,
    #2a2a32,
    #282c5e,
    #1c2c8b,
    #0927b7,
    #1711e2
  );
  border: none;
  border-radius: 6px;
  padding: 2%;
  font-size: 18px;
   margin-left: 25%;
  width: 50%;
  color: #fff;
}
