<mat-card class="personalInfoBox">
  <mat-card-subtitle>Personal Information</mat-card-subtitle>
  <mat-card-content>
    <div>
      <p>Name: <strong>Aniket </strong></p>
      <p>Email: <strong>abc@gmail.com </strong></p>
      <p>Employee ID <strong>IN1282121 </strong></p>
      <p>Gender <strong>Male </strong></p>
    </div>
    <div>
      <p>Age <strong>22 </strong></p>
      <p>Country <strong>India </strong></p>
      <p>Job Title <strong>SE-1 </strong></p>
      <p>Manager <strong>Akshay </strong></p>
    </div>
  </mat-card-content>
</mat-card>
