input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-right-align {
  text-align: right;
}
.reqForm {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 10%;
  row-gap: 0%;
  justify-content: center;
  height: 100%;
  padding-bottom: 2%;
  -webkit-box-shadow: 10px 8px 8px -4px rgba(26, 98, 214, 0.39);
  -moz-box-shadow: 10px 8px 8px -4px rgba(26, 98, 214, 0.39);
  box-shadow: 10px 8px 8px -4px rgba(26, 98, 214, 0.39);
}
.formBox {
  height: 80%;
  padding: 2%;
  border: 2px solid black;
}
.reqBox {
  border: 1px solid red;
  height: 95%;
}
button{
  background-color: greenyellow;
  border: none;
  border-radius: 12px;
  margin-left: 45%;
}
