<mat-card>
  <mat-card class="bgImage">
    <img src="../../../assets/avatar.svg" alt="profile" />
    <mat-icon>edit</mat-icon>
  </mat-card>
  <mat-card class="content">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]="2" [rowspan]="4"> <app-personal-info></app-personal-info> </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="4"> Stats </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1"> Recent Requests </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</mat-card>
