<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div class="navBox">
      <img class="profileImg" src="../../../assets/yoga.PNG" alt="profile" />
      <div class="info">
        <mat-list>
          <mat-list-item
            ><a routerLink="/login">
              <mat-icon class="icon">home</mat-icon>Home
            </a></mat-list-item
          >

          <mat-list-item
            ><a routerLink="/login"
              ><mat-icon>preview</mat-icon>View Requests
            </a></mat-list-item
          >

          <mat-list-item
            ><a routerLink="/login"
              ><mat-icon>history</mat-icon>History</a
            ></mat-list-item
          >

          <mat-list-item
            ><a routerLink="/login">
              <mat-icon>create</mat-icon>Create Request</a
            ></mat-list-item
          >
        </mat-list>
        <mat-divider></mat-divider>
        <p>Account</p>
        <mat-list>
          <mat-list-item
            ><a routerLink="/login"
              ><mat-icon>notifications</mat-icon>Notification</a
            ></mat-list-item
          >
          <mat-list-item
            ><a routerLink="/login"
              ><mat-icon>logout</mat-icon>Logout</a
            ></mat-list-item
          >
        </mat-list>
      </div>
    </div>
  </mat-sidenav>
    <!-- Right Side Dashbooard -->
  <mat-sidenav-content><app-dashboard></app-dashboard></mat-sidenav-content>
</mat-sidenav-container>
